body {
  font-size: .875rem;
  text-autospace: normal;
  background-color: #f4f4f4;
  transition: background-color .48s;
}

#logo {
  background-repeat: no-repeat;
  font-size: x-large;
  text-shadow: 0 0 20px #aaa;
}

#version {
  margin-inline: .5em;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  transition: background-image .3s;
}

.container {
  max-width: 1280px;
  border-radius: 5px;
}

legend {
  margin: 1.5rem;
}

fieldset {
  background-color: white;
  margin-top: .6rem;
  margin-bottom: 4rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 7%);
  transition: background-color .3s;
}

.text-info {
  font-weight: bold;
  text-align: right;
  color: #025b8f !important;
}

.custom-switch {
  min-height: 2rem;
}

.custom-control-inline {
  align-items: center;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

input[type=radio], input + label {
  cursor: pointer;
  transition: background-color .3s;
}

#add-rpc {
  margin-left: .5rem;
}

div[id^="markRpc"] {
  display: none;
}

.form-control, .btn, .input-group-text, textarea {
  font-size: .875rem !important;
  transition: background-color .3s, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.alert {
  padding: .25rem .5rem;
  margin-bottom: 0;
}

.footer {
  position: fixed;
  padding: .5rem;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: #f5f5f560;
  border-top: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
  box-shadow: inset 0 1px 0 #fff;
  text-shadow: 0 0 15px #79a4d3;
  transition: background-color .3s;
}

.footer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  margin: -.5rem;
  z-index: -1;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-copyright,
.fa-circle-check,
.fa-circle-xmark,
.fa-lightbulb,
.fa-thumbs-up {
  transition: transform ease-in-out .5s;
  transform: rotateY(0deg);
}

a:hover>.fa-copyright,
.btn-success:focus .fa-circle-check,
.btn-warning:focus .fa-circle-xmark,
a:hover>.fa-lightbulb,
.btn-primary:hover .fa-thumbs-up {
  transform: rotateY(360deg) scale3d(1.2, 1.2, 1);
}

.clickable {
  font-size: 1.5rem;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 1.5rem;
  transition: background-color .3s, box-shadow .3s;
}

.clickable:hover {
  background-color: #fff5;
  box-shadow: 0 0 0.3rem #d0d0d0, inset 0 0 2px #eee;
}

.clickable:active {
  box-shadow: 0 0 0px #d0d0d0, inset 0 0 0.5rem #acacac;
}

.clickable .fa {
  text-shadow: 0 0 3px gray;
  transition: transform .3s, color .48s;
}

.clickable .fa:hover {
  text-decoration: none;
  transform: rotateY(0deg) scale(1.1);
}

.clickable:active .fa {
  transform: rotateY(90deg) scale(1);
}

#colorMode {
  padding-inline: 1rem;
  margin-right: -4rem;
}

#colorMode .fa-sun {
  color: gold;
  text-shadow: 0 0 5px #7f6c00;
}

/* patch for fa-moon width */
#colorMode .fa-moon {
  color: #0009;
  padding-inline: 3px;
  text-shadow: 3px -1px 1rem #eee;
}

#colorMode .fa-circle-half-stroke {
  color: #007bff;
  text-shadow: 0 0 5px #003d7e;
}

#copyright {
  line-height: 30px;
}

#acknowledgment {
  line-height: 30px;
}

#rate {
  margin-left: -8rem;
}

.tool-tip::before {
  visibility: hidden;
  content: attr(tooltip-content);
  position: absolute;
  z-index: 5;
  bottom: 120%;
  opacity: 0;
  width: max-content;
  height: max-content;
  color: #555;
  background-color: #fcd86ec0;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: .5rem;
  font-size: .8rem;
  border-radius: 4px;
  transition: opacity .2s ease-in-out .3s;
}

/* Prolong the button's tooltip delay */
button.tool-tip::before {
  transition: opacity .2s ease-in 1s;
}

.tool-tip:hover::before {
  visibility: visible;
  opacity: 1;
}

/* Hide tooltip if descendants are showing tooltip */
.tool-tip:hover:has(.tool-tip:hover)::before {
  visibility: hidden;
  opacity: 0;
}

.tool-tip-icon::after {
  content: "\f05a";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  font-size: .9rem;
  margin-left: .3rem;
  color: #0455ca;
  cursor: help;
}

.rpcGroup>.input-group.tool-tip::before {
  left: 15%;
}

.rpcGroup>.input-group.tool-tip:focus-within::before {
  visibility: visible;
  opacity: 1;
}

.is-warning {
  color: #856404;
  border-color: #ffc107 !important;
  background-color: #fff3cd !important;
  z-index: 5;
}

.is-warning:focus {
  box-shadow: 0 0 0 0.2rem #ffc10740 !important;
}