body {
  background-color: #f4f4f4;
  font-size: .875rem;
}

#logo {
  background-repeat: no-repeat;
  font-size: x-large;
  text-shadow: 0 0 20px gray;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065)
}

.container {
  max-width: 1200px;
  border-radius: 5px;
}

legend {
  margin: 1.5rem;
}

fieldset {
  background-color: white;
  margin-top: .6rem;
  margin-bottom: 4rem;
}

.text-info {
  font-weight: bold;
  text-align: right;
}

.custom-switch {
  min-height: 2rem;
}

.custom-control-inline {
  align-items: center;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

input[type=radio], input + label {
  cursor: pointer;
}

#add-rpc {
  margin-left: .5rem;
}

.form-control, .btn, .input-group-text, textarea {
  font-size: .875rem !important;
}

.alert {
  padding: .25rem .5rem;
  margin-bottom: 0;
}

.footer {
  position: fixed;
  padding: .5rem;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
  box-shadow: inset 0 1px 0 #fff;
  text-shadow: 0 0 15px black;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.bi-c-circle::before,
.bi-check-circle::before,
.bi-x-circle::before,
.bi-lightbulb::before,
.bi-hand-thumbs-up::before {
  transition: transform ease-in-out .5s;
  transform: rotateY(0deg);
}

.bi-c-circle:hover::before,
.btn-success:focus .bi-check-circle::before,
.btn-warning:focus .bi-x-circle::before,
a:hover>.bi-lightbulb::before,
.btn-primary:hover .bi-hand-thumbs-up::before {
  transform: rotateY(360deg) scale3d(1.2, 1.2, 1);
}

#copyright {
  line-height: 30px;
}

#acknowledgment {
  line-height: 30px;
}

#rate {
  margin-left: -8rem;
}
