---
name: "tagged-release"

on:
  push:
    tags:
      - v*

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"    
    
    steps:    
      - name: Checkout
        uses: actions/checkout@v3
            
      - name: Clean
        run: |
           rm -rf .git
           rm -rf .github
          
      - name: Zip
        uses: vimtor/action-zip@v1
        with:
            files: .
            dest: aria2e-${{ github.ref_name }}.crx

      - name: Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: aria2e-${{ github.ref_name }}.crx
